/* @todo: implement styling  */
.game {
  box-sizing: border-box;
  position: relative;
  top: 36px;
  > h1 {
    text-align: center;
    font-size: 2em;
    font-family: Montserrat;
    font-weight: normal;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
  > .board {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    > .palyerInfo {
      flex: 2;
      display: flex;
      align-items: center;

      &__left {
        justify-content: flex-end;
      }
      &__right {
        justify-content: flex-start;
      }
      > .circle {
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border: 2px solid #ffffff;
        opacity: 1;
        letter-spacing: 0px;
        color: #ffffff;
        font-family: Montserrat;
        > h3 {
          font-weight: 600;
          font-size: 1.5vw;
          margin-bottom: 15px;
        }
        > span {
          font-size: 4vw;
          font-weight: 700;
        }
        &__isTurn {
          color: #000000;
          background: #ffffff 0% 0% no-repeat padding-box;
        }
      }
    }
    > .cards-grid {
      flex: 3;
      padding: 50px;
      margin: 0 auto;
      width: calc(100% - 810px);
      min-width: 320px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      > .card > img {
        width: 100%;
        border-radius: 10px;
        opacity: 0.6;
      }
      > .card {
        border-radius: 10px;
      }
    }
    > .message {
      background: rgba(0, 0, 0, 0.5) 0% 0% no-repeat padding-box;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > h1 {
        text-align: center;
        font-size: 3em;
        letter-spacing: 0px;
        color: #ffffff;
        margin-bottom: 20px;
      }
      > button {
        cursor: pointer;
        padding: 0.4em 0.5em;
        background: #000000 0% 0% no-repeat padding-box;
        border: 2px solid #ffffff;
        border-radius: 50px;
        color: #ffffff;
        font-size: 2em;
      }
    }
  }
}
